################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SaiReddy_PagelightPrime/.vs/SaiReddy_PagelightPrime
/SaiReddy_PagelightPrime/bin/Debug/net9.0
/SaiReddy_PagelightPrime/obj
/SaiReddy_PagelightPrime/.vs/ProjectEvaluation
